body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a.iconadd {
    background: url('../Images/icons8-add-50.png') no-repeat top left;
    width: 25px;
    height: 25px;
    display: block;
    text-indent: -9999px; /* hides the link text */
}

a.iconedit {
    background: url('../Images/icons8-edit-25.png') no-repeat top left;
    width: 25px;
    height: 25px;
    display: block;
    text-indent: -9999px; /* hides the link text */
}

a.icondelete {
    background: url('../Images/icons8-delete-25.png') no-repeat top left;
    width: 25px;
    height: 25px;
    display: block;
    text-indent: -9999px; /* hides the link text */
}

