@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#26477c; color:lightgray; box-shadow: 5px 10px #888888; color:white; border-color:black; border-width:2px; margin-top:2px;">
    <div style="text-align:center; margin-top:-30px;"> 
        <h1>PMR</h1>
        @*<img style="float:left;" src="~/Images/GasMeterImage.jpg" />*@
    </div>
    <hr width="100%" height="10px;" style="border-color:black;border-width:thick;">
    <div style="text-align:center; color:lightgray;">
        <b>PRECISION METER REPAIR, INC.</b>
    </div>
    <hr width="100%" height="10px;" style="border-color:black; border-width:thick;">
    <div style="text-align:center; color:lightgray; font-size:12px;">
            <div>4410 Airport Road</div>
            <div>Plant City, Florida 33563</div>
    </div>
</div>

<div class="row" style="text-align:center;">
    <div class="col-md-4" style="">
        <h2>Customers</h2>
        <p>
           Customers info.
        </p>
        <p><div class="btn btn-default">@Html.ActionLink("Customer", "Index", "Customers")</div></p>
        @*<img src="~/Images/GasMeterImage.jpg" />*@
    </div>
    <div class="col-md-4" style="">
        <h2>Meter Batches</h2>
        <p>Create Batches and Enter Meter Readings here. </p>
        <p><div class="btn btn-default">@Html.ActionLink("Meter Batches", "Index", "Batches")</div></p>
        @*<img src="~/Images/GasMeterImage.jpg" />*@

    </div>
    <div class="col-md-4" style="">
        <h2>Reports</h2>
        <p>Meters ready for customers(email/print).</p>
        <p><div class="btn btn-default">@Html.ActionLink("Meter Report", "Index", "vw_batchMeterReport")</div></p>
        @*<img src="~/Images/GasMeterImage.jpg" />*@
    </div>
</div>
